@page "/OperationTypes"

<PageTitle>Weather forecast</PageTitle>

<PageTitle>All operation types</PageTitle>

<h1>Your incomes and expenses:</h1>

@if (_operationTypes is null)
{
    <p><em>Loading...</em></p>
    return;
}
<div class="row">
    <div class="col-md-6">
        <a href='/OperationTypes/create/' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add
        </a>
    </div>
</div>
<br />
<table class="table table-striped align-middle table-bordered">
    <thead class="table-success">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Is Income</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in _operationTypes)
        {
            <tr>
                <td>@operation.Id</td>
                <td>@operation.Name</td>
                <td>@operation.IsIncome</td>
                <td>
                    <a href='/OperationTypes/Update/@operation.Id' class="btn btn-outline-dark" role="button">
                        Edit
                    </a>
                    <a href='/OperationTypes/Details/@operation.Id' class="btn btn-outline-dark" role="button">
                        Details
                    </a>
                    <a class="btn btn-outline-danger" role="button" onclick="@(async () => await Delete(operation))">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>