@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

<p>Welcome to your own financial manager.</p>
<p>
    Here you can <a href="FinancialOperations">manage your financial operations</a>, <a href="OperationTypes">incomes and exprenses</a>.
    <br />
    Also you can get daily and period reports about operations, which includes
    <br />
    total incomes and exprences per day/period, and all operations you made per
    <br />
    this day/period.
</p>
