<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUri" value="https://financialmanagerwebapp.azurewebsites.net/"/>
		<add key="FinancialOperationsUri" value="api/FinancialOperations"/>
		<add key="OperationTypesUri" value="api/OperationTypes"/>
		<add key="ReportsUri" value="api/Reports"/>
	</appSettings>
</configuration>
