@page "/OperationTypes/details/{id:int}"
<h3>Delete</h3>

@using AppHttpClient;
@using FinancialManager.DTOs.OperationTypes

@inject NavigationManager manager
@inject AppHttpClient client
<div class="form-group">
    <h4>Details of @_operation.Name operation type</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>@_operation.Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@_operation.Name</td>
            </tr>
            <tr>
                <td>IsIncome</td>
                <td>@_operation.IsIncome</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <a href='/OperationTypes/edit/@_operation.Id' class="btn btn-outline-dark" role="button">
        Edit
    </a>
    <a href='/OperationTypes/delete/@_operation.Id' class="btn btn-outline-danger" role="button">
        Delete
    </a>
    <input type="submit" value="Back" @onclick="(() => Back())" class="btn btn-warning" />
</div>
@code {
    [Parameter]
    public int Id { get; set; }
    public OperationTypeDetailsDto _operation = new();

    protected override void OnInitialized()
    {
        _operation = client.GetObjects<OperationTypeDetailsDto>($"{AppHttpClient.OperationTypesUrl}/{Id}");
    }

    void Back()
    {
        manager.NavigateTo("/OperationTypes");
    }
}
