@page "/OperationTypes/Update/{id:int}"

@using Frontend.Components

<PageTitle>Edit operation type</PageTitle>

@if (_operationType is null)
{
    <p><em>Loading...</em></p>
    return;
}
<h3>Edit @(_operationType.IsIncome ? "income" :"expense") "@_operationType.Name"</h3>
<OperationTypeEditForm Model="_operationType" OnSubmited="Save" />