@if(Model is null)
{
    <p><em>Loading...</em></p>
    return;
}

<EditForm @ref="form" Model="Model" OnValidSubmit="Submit">
    <label for="Description" class="form-label">Description</label>
    <div class="col-md-4">
        <InputText class="form-control" @bind-Value="Model.Description" />
    </div>
    <label for="DateTime" class="form-label">Date Time</label>
    <div class="col-md-4">
        <InputDate class="form-control" @bind-Value="Model.DateTime" />
    </div>
    <label for="Amount" class="form-label">Amount</label>
    <div class="col-md-4">
        <InputNumber class="form-control" @bind-Value="Model.Amount" />
    </div>
    <label for="OperationType" class="form-label">Operation type</label>
    <div>
        <InputSelect TValue="int" @bind-Value="Model.OperationTypeId">
            @foreach(var operationType in _allOperations)
            {
                <option value="@operationType.Id">@operationType.Name</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Back">Cancel</button>
    </div>
</EditForm>